html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td{margin:0;padding:0;border:0;outline:0;font-size:100%;background:transparent;}
body{background:#fff;line-height:1;}
ol, ul{list-style:none;}
blockquote, q{quotes:none;}
blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;}
:focus{outline:0;}
ins{text-decoration:none;}
del{text-decoration:line-through;}
table{border-collapse:collapse;border-spacing:0;}
a img{border:none;}

html, body{
	background:#f6f6f6;color:#444;font:1em "Lucida Grande", Arial, "DejaVu Sans", Verdana, sans-serif;height:99%;margin:0;padding:0;width:100%;
}
h1{font-size:1.7em;margin-bottom:1.2em;}
h2{font-size:1.5em;margin-bottom:1.1em;}
h3{font-size:1.2em;margin-bottom:1.0em;}
a{color:#690;text-decoration:none;cursor:pointer;}
a:visited{}
a:hover, a:focus, a:active{color:#39c;text-decoration:underline;}
h1, h2, h3, h4, h5, h6, p, ul, ol, table, pre, blockquote, .box small{margin-left:15px;margin-right:15px;}
h1, h2, h3, h4, h5, h6{color:#690;margin-top:0.5em;margin-bottom:1.2em;}
input, button, textarea, pre{border:1px solid #666;background-color:#eee;color:#333;padding:2px 3px;}
input:focus, textarea:focus{border-color:#690;background-color:#f6f6f6;}
textarea{padding:5px 3px;}
img{border:0;}
strong{font-weight:bold;}
em{font-style:italic;}
small{font-size:10px;}
.box p small, p small{font-size:inherit;margin:0;}
option:nth-child(even){background-color:#eee;}
table{width:inherit;max-width:95%;}
label{font-weight:normal;}
hr{background-color:#999;border:0 none;color:#999;height:1px;margin:2em 15px;}
caption{text-align:left;margin-bottom:0.5em;text-indent:0.5em;color:#690;}
tbody, tfoot, thead, tr{}
th, td{}
th{background-color:#eee;}
th, td{padding:0.2em;}
td{border:1px dotted #ccc;}
th:first-child, td:first-child{border-left:none;}
th:last-child, td:last-child{border-right:none;}
pre{font-family:monospace;background-color:#f6f6f6;border:1px dotted #690;overflow:auto;}
blockquote{border-left:5px solid #690;color:#666;font-style:italic;}
#header{
	font-size:0.8em;
	font-weight:bold;
	margin:0 0 25px;
	border-bottom:1px solid #333;
	height: 30px;
	background: #666 url('images/gradient-dark-nav.png') repeat-x scroll bottom left;
}
.container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
a#header-logo {
	float: left;
	margin-top: 5px;
	margin-right: 25px;
	color: #fff;
	text-decoration: none;
	font-size:1.2em;
}

#header ul#global-navigation{list-style:none inside;width:700px;float:left;}
#header ul#global-navigation, #global-navigation li{border-color:#4e4e4e;border-style:solid;margin:0;}
#global-navigation li:first-child{border-left-width:1px;}
#global-navigation li{float:left;border-right-width:1px;}
#global-navigation li a{color:#fefefe;display:block;height:100%;margin:0 15px;padding-top:7px;text-decoration:none;width:100%;}
#global-navigation li a:hover, #global-navigation li a:focus{color:#690;}

div.terminal_window {
	width: 822px;
	height: 428px;
	background-color: black;
	border: 1px solid gray;
	color: white;
	font-family: monospace;
	font-size: 12px;
}

div.terminal_window input#terminal_command {
	width: 800px;
	height: 20px;
	border: 0;
	border-bottom: 1px solid gray;
	background-color: black;
	color: white;
	font-family: monospace;
	font-size: 12px;
}

div.terminal_window div#terminal_window_ouput {
	width: 100%;
	height: 420px;
	overflow: auto;
}

table.task_list {
	width: 900px;
	text-align: center;
}

table.user_list {
	width: 900px;
	border: 1px solid #ccc;
}

.info_msg {
	width: 900px;
	border: 1px solid #ccc;
	display: block;
	padding: 10px;
	margin: 10px 0px;
	color: #9F6000;
	background-color: #FEEFB3;
	font-family: Arial, Helvetica, sans-serif;
	font-size:13px;
}

.load_avg {
	color: #4F8A10;
	background-color: #DFF2BF;
	text-align: center;
	font-weight: bold;
	padding: 5px;
}

fieldset { 
	border:1px solid #690;
	padding: 5px;
	margin: 10px 0px;
}

fieldset legend {
	padding: 0.2em 0.5em;
	border:1px solid #690;
	color: #690;
	font-size:90%;
	text-align:left;
}
fieldset label {
	font-weight: bold;
	width: 150px;
	display: block;
	float: left;
}

div.sub_menu {
	padding:6px;
	margin: 6px;
}
div.sub_menu a {
	color: #3b5d14;
	font-size: 13px;
	font-weight: bold;
	padding: 6px 10px 8px;
	background-color: #ddeec2;
	border-radius: 13px;
	-moz-border-radius: 13px;
	-webkit-border-radius: 13px;	
}
div.sub_menu a.selected {
	background-color: transparent;	
	color: #000;
	border: 2px solid #ddeec2;
}
div.sub_menu a.selected:hover {
	text-decoration:none;
}

div.info_block {

}
div.info_block div.info_value {

}

div.info_block div.info_title {
	float: left;
	width: 145px;
	font-weight: bold;
}

div.sysinfo_row {
	width: 100%;
	margin: 0 auto;
}

div.sysinfo_cell {
	float:left;
	width: 50%;	
}

div.progress_bar_container {
	margin: 5px 0;
}
div.progress_bar {
	height: 20px;
	width: 350px;
}